<!DOCTYPE html>
<html>

<header>
<title>aboutCarRental</title>
</header>

<body>
   
 <p style= "color:red; background-color:powderblue;">Car rental agencies primarily serve people who require a temporary vehicle, for example, those who do not own their own car, travelers who are out of town, or owners of damaged or destroyed vehicles who are awaiting repair or insurance compensation. Car rental agencies may also serve the self-moving industry needs, by renting vans or trucks, and in certain markets, other types of vehicles such as motorcycles or scooters may also be offered.
 </p>

 <p>
    <ul> Car Rental 
            <li>cars <img src="https://hips.hearstapps.com/hmg-prod/images/2023-nissan-altima-113-1654783718.jpg?crop=0.816xw:0.689xh;0.0798xw,0.242xh&resize=1200:*" width="15" height="15"</li> 
            <li>truck <img src="https://ftl-media.imgix.net/4k1a0211-ret_rgb_1000x1000_em2-hero-exterior-option-1.jpg" width="15" height="15"</li>
            <li>prestig  <img src="https://www.prestigemotorwarehouse.co.uk/img/listing-img/22354_prestigecars_bmw-i8_grey11.jpg" width="15" height="15"</li>
    </ul>
 </p>

</body>

</html>