<!DOCTYPE html>
<html>
    <head>
      <title>Favorite Cars</title>


        <style>

            .h1{
                color: rgb(245, 141, 193);
            }

            .h3{
                color: rgb(96, 95, 95);
            }


        </style>

    </head>


<body>
    <h1 class="h1"> Favorite Cars</h1>
    <div>
        <h3 class="h3"> My Favorite Cars: </h3>
        <ul>
            <li class="h1">BMW i7 </li>
            <li class="h1">Porsche Taycan Pink</li>
            <li class="h1">Mercedes S-Class</li>

        </ul>
    </div>
<img src="https://resize.indiatvnews.com/en/resize/newbucket/1200_-/2023/01/bmw-i7-1673259752.jpg" alt="bmw" width="300" height="200" />
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdmTMsTGb2r9nJHV8K6RRzyHfpUTq7Wya6Xw&usqp=CAU" alt=" Porsche" width="300" height="200"/>
<img src="https://assets-eu-01.kc-usercontent.com/3b3d460e-c5ae-0195-6b86-3ac7fb9d52db/e27b2279-28f5-4cfe-b012-f6d5ebf0a44a/Mercedes%20S-Class%202020%20%2810%29.jpg?fm=jpg&auto=format" alt="Mercedes" width="300" height="200"/>
</body>
</html>
