<!DOCTYPE html>
<html>
<header>
    <h3>Delivery</h3>
    <style>
        body
        {

            background-color:rgb(153, 124, 83) ;
        }
    </style>

</header>
<body>

<div>
    <h3>Dlivery start</h3>
    
</div>

<p>
    <form>
        <label for="city">Your city </label>
                <select id="city" name="city">
                        <option value="Riyadh">Riyadh</option>
                        <option value="Jeddah">Jeddah</option>
                     
                </select> <br> <br>

    </form>
</p>
</body>
</html>