<!DOCTYPE html> 
<html>
    <head>
        <title> Car Rental </title>

    </head>
    <body>
        <h1> Welcome to our website </h1>

        <div>
            <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.topgear.com.ph%2Fnews%2Findustry-news%2Finterbrands-2020-best-automotive-brands-a4354-20201021&psig=AOvVaw3dIUtnw3SmoZqg8Akm8iwm&ust=1699347887890000&source=images&cd=vfe&ved=0CBIQjRxqFwoTCPiW1qyCr4IDFQAAAAAdAAAAABAE" width="500" height="500">

            <h3> Agencies </h3>
            <ul>
                <li> <a href = "https://www.toyota.com.sa/" > TOYOTA </a></li>
                <li> <a href = "https://www.mercedes-benz-mena.com/" > MERCEDES </a></li>
                <li> <a href = "https://www.bmw-saudiarabia.com/" > BMW </a></li>
            </ul>

        </div>
        

    </body>
</html>