<!DOCTYPE html>
<html>
    <header>
        <title>Cars Rental(home page)</title>
    </header>
    <body>
        <h1 style="color: blueviolet;">Welcom to Cars Rental</h1>
        <p style="color: aquamarine;">
            Hello World, This is my new HOME for Car Rentals Website  ! we're excited to welcome you here
        </p>
        <a href="https://www.economycarrentals.com/en-us/y2/car-rental-one-way?src=google&team=632-185-8410&network=g&campaignid=1593958259&adgroupid=114936958726&targetid=kwd-19818600&loc_physical_ms=9076977&matchtype=b&device=c&creative=490526999907&keyword=one%20way%20car%20rental&cmp=dsa&adg=505&ad=rsa505&gad=1&gclid=Cj0KCQiAuqKqBhDxARIsAFZELmIUHt4vy_r0FpCOWuGwWow2HiJoemeghpul4hqN9uA4-W2LMX3n60YaAlsjEALw_wcB&c=SA">web page for cars rental</a>
        <img src="https://img.freepik.com/free-vector/car-rental-concept-illustration_114360-9267.jpg" alt="image for car rental">
    </body>
</html>