<!DOCTYPE html>
<html>
    <head>
        <title> Website of Cars Rental</title>
        <meta name="Information" content="Cars rental is a service that allows you to borrow a car for a period of time, typically from a few days to a few weeks" />
    </head>

<body>
    <div>
        <h1> Welcome to Cars Rental</h1>
        <h2>Here are some of the benefits of renting a car:</h2>
        <ul>
            <li>Convenience: Car rental companies are located in major airports and cities around the world, so it's easy to pick up and drop off a rental car.</li>
            <li>Affordability: Car rental rates can be very affordable, especially if you book in advance.</li>
            <li>Flexibility: You can choose the perfect car for your needs and budget. You can also rent a car for as long or as short as you need it.</li>
            <li>Variety: Car rental companies offer a wide variety of cars to choose from, including economy cars, SUVs, vans, and luxury cars.</li>
        </ul>
    </div>


    <a href="https://www.expedia.com/">Link to cars rental</a>
    <img src="https://files.porsche.com/filestore/image/multimedia/none/RD-2023-Homepage-Banner-WW-TaycanPush-KW20/normal/c68103e7-ef29-11ed-8103-005056bbdc38;sN;twebp/porsche-normal.webp" alt="Porche Car"/>
    

</body>
</html>