<!DOCTYPE html>
<html>
<header>
    <title>Laura's Abaya</title>
    <style>
        body
        {

            background-color:rgb(150, 142, 131) ;
        }

        div{
            background-color:rgb(86, 70, 47) ;  
        }
    </style>
</header>
<body>
   
<div>
    <h1>Welcome to our website</h1>
    <h3>
        The beauty of the abaya and our amazing prices in one place. Shop now on our website for the quality you deserve,
         at prices that suit your budget. Learn about our abaya collection.
    </h3>
    
</div>
<h2> The contents of the website</h2>
<ol>
    <li>Home page</li>
    <li>product page</li>
    <li>order page</li>
    <li>Contact page</li>
</ol>

</body>
</html>