<!DOCTYPE html>
<html>
<header>
<style> h1{
    color:red ;

    

    }</style>
    
        
</header>
<body>

<dev>

<h1>Hello world, this is my new home for car Rentals website</h1>

</dev>
<div>
    <h3>Our benefits</h3>
    <ol>
        <li>Good prices</li>
        <li>Fast Delivery</li>
        <li>Good quality</li>
    </ol>
</div>
<a href="https://www.rentalcars.com/">Link to latet cars</a>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSox3GNV3CrjY4f_ZMFHg2Sxj41q9xhguBYhQ&usqp=CAU"/>
    
</body>


</html>