<!DOCTYPE html>
<html>
<header>
    <title>Products</title>
    <style>
        body
        {

            background-color:rgb(153, 124, 83) ;
        }

        div{
            background-color:rgb(239, 194, 130) ;  
        }
    </style>
</header>
<body>
<h3>This products :</h3>
<div>
    <ol>
        <li>Black Abaya</li>
        <img src=https://cdn.salla.sa/rNZdw/kNd5a3c0eBu9eililpw5dBbVyY2yLJTmUqLemESV.jpg height="80" wdith="80">
        <li>Blue Abaya</li>
        <img src=https://cdn.salla.sa/pnnmZ/CQv0xrzIsDKeGDn6xSKoP8hyNjNL0lcKTeEB61f6.jpg height="80" wdith="80">
        <li>Pink Abaya</li>
        <img src=https://cdn.salla.sa/GyKyg/jWJp0FPtGtPdp2V9KaGZv5wjYNSnzwz3ZRMgEn3V.jpg height="80" wdith="80">
    </ol>
</div>

</body>
</html>